//全局变量与局部变量

$width:120px; //定义全局变量

#main{
  width: $width;  //使用全局变量
  $height:200px !global;   //定义块级局部变量，并且将块级变量声明为全局变量，注意此处，!global的前面不能存在分号;
}

#sidebar {
  height: $height;//如果这里使用了其他块级变量，将会报错，所以需要将块级变量声明为全局变量
}
