//局部变量与全局变量

$color:orange !default;//定义全局变量(在选择器、函数、混合宏...的外面定义的变量为全局变量)

.block{
  color: $color;  //color:orange  调用全局变量
}

em{
  $color:red; //定义局部变量，你会发现这个变量名与全局变量名是一样的
  a{
    color:$color;//color:red  调用局部变量,发现值优先使用的也是局部变量的值
    $width:1280 !global; //这边将该局部变量置顶为全局变量，目的是让其他块级作用域内也可以使用到
    li{
      width: $width;//width:1280
    }
  }
}

span{
  color:$color;//color:orange 通过值为orange，可以看出，上面的块级作用域内定义的局部变量虽然与全局变量名一样，但不会覆盖全局变量，其他块级作用域再次使用这个全局变量时，值，依然不变
  width: $width;//width:1280使用在其他块级作用域的定义的全局变量
}

/**
    总结：
    局部变量只会在局部范围内覆盖全局变量
    
    !global 可以将块级作用域内定义的变量，声明为全局变量
    
    什么时候定义变量？
    该值至少重复出现了两次；
    该值至少可能会被更新一次；
    该值所有的表现都与变量有关（非巧合）。
 */