<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>echarts</title>
    <link rel="stylesheet" href="../../resource/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resource/plugins/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../resource/plugins/AdminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../resource/plugins/AdminLTE/css/skins/_all-skins.css">
    <link rel="stylesheet" href="../../resource/plugins/highlight/styles/dark.css">
    <link rel="stylesheet" href="../../resource/common/css/code.css">

    <script src="../../resource/plugins/html5/html5shiv.min.js"></script>
    <script src="../../resource/plugins/html5/respond.min.js"></script>
    <script src="../../resource/plugins/jquery/jquery.min.js"></script>
    <script src="../../resource/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../resource/plugins/AdminLTE/js/adminlte.js"></script>
    <script src="../../resource/plugins/layui/layui.all.js"></script>
    <script src="../../resource/plugins/highlight/highlight.pack.js"></script>
    <script src="../../resource/plugins/clipboard/clipboard.js"></script>
    <script src="../../resource/plugins/echarts/echarts.js"></script>
    <script src="../../resource/plugins/echarts/theme/macarons.js"></script>
    <script src="../../resource/common/js/code.js"></script>

    <!--datatable按钮-->
    <script type="text/javascript">


    </script>

    <style type="text/css">
        .box {
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }

    </style>


</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">
    <!--头部区域-->
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>奇果</b></span>
            <span class="logo-lg"><b>南京奇果</b>后台管理</span>
        </a>
        <!--导航栏，随着页面一起滚动的导航栏-->
        <nav class="navbar navbar-static-top">
            <!-- 侧边栏切换按钮-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!--头部导航-自定义菜单栏-->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="javascript:openFullscreen(this)">
                            <i class="fa fa-yahoo"></i>
                        </a>
                    </li>
                    <!--用户通知信息-->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有10个通知</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i>今天有10个推荐位被设置
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i>你的密码已过期，需要重置密码
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看更多</a></li>
                        </ul>
                    </li>
                    <!--用户任务信息-->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有9个任务</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <h3>
                                                推荐位设置进度
                                                <small class="pull-right">90%</small>
                                            </h3>
                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-aqua" style="width: 90%"
                                                     role="progressbar"
                                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">90% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h3>
                                                项目创建进度
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h3>
                                                内容注入进度
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">查看更多任务</a>
                            </li>
                        </ul>
                    </li>
                    <!--用户账户信息-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="user-image"
                                 alt="用户头像">
                            <span class="hidden-xs">Morgan</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- 用户头像 -->
                            <li class="user-header">
                                <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="img-circle"
                                     alt="用户头像">
                                <p>
                                    Morgan - 前端开发人员
                                    <small>开发人员</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的任务</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的通知</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的信息</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">编辑</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--编辑-->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--左侧边栏区域-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!--用户概要信息模块-->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="用户头像">
                </div>
                <div class="pull-left info">
                    <p>Morgan</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!--侧边栏菜单-->
            <ul class="sidebar-menu" data-widget="tree">
                <li><a href="/CMS/view/main/main.html"><i class="fa fa-circle-o text-yellow"></i> <span>概览</span></a>
                </li>
                <li class="header">案例</li>
                <li class="treeview active">
                    <a href="/CMS/view/ES6/Array.html">
                        <i class="fa fa-files-o"></i>
                        <span>echarts</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        <!--<span class="pull-right-container"><span class="label label-primary pull-right">4</span></span>-->
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview ">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>折线图</span>
                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="">
                                    <a href="/CMS/view/animate/animate.html"><i class="fa fa-circle-o"></i>动画</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview ">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>饼图</span>
                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li class="">
                                    <a href="/CMS/view/animate/animate.html"><i class="fa fa-circle-o"></i>动画</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <div class="box box-primary box-solid"><!--默认关闭盒子添加collapsed-box-->
                <div class="box-header with-border">
                    <h3 class="box-title">查询结果</h3>
                </div>
                <div class="box-body" style="height: 100%;">
                    <div id="demo" style="height:700px"></div>

                </div><!--box-body-->
            </div><!--box box-primary box-solid-->
        </section>
        <footer class="content-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
    </div>

    <aside class="control-sidebar control-sidebar-dark"></aside>
    <div class="control-sidebar-bg"></div>
    <script type="text/javascript">
        /**
         * 嵌套环形图（http://echarts.baidu.com/examples/editor.html?c=pie-nest）
         *
         * 实现-嵌套环形图-主要是在series数组下，定义两个对象
         * 第一个对象对应内圈拼图，同时设置radius: [0, '30%'],内半径为0也就是实心，外半径为30%，也就是半径占整个容器的30%
         * 第二个对象对应外圈饼图，同时设置radius: ['40%', '55%'],内半径为40%，也就是将中心挖空挖空的半径为整个容器的40%，外半径为55%，也就是外半径的长度为整个容器的55%
         * 
         * 每一个系列的label描述，也是在series下定义，同时指定format，来自定义显示样式
         *
         */

            // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('demo'), "macarons");

        // 指定图表的配置项和数据
        var option = {
            baseOption: {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                },
                series: [
                    {
                        name:'访问来源',
                        type:'pie',
                        /**
                         * 选中模式，表示是否支持多个选中，默认关闭，支持布尔值和字符串，字符串取值可选'single'，'multiple'，分别表示单选还是多选。
                         */
                        selectedMode: 'single',
                        radius: [0, '30%'],
                        /**
                         * 饼图图形上的文本标签，可用于说明图形的一些数据信息，比如值，名称等
                         */
                        label: {
                            normal: {
                                /**
                                 * 标签的位置。
                                 * 'outside'    饼图扇区外侧，通过视觉引导线连到相应的扇区。
                                 * 'inside'     饼图扇区内部。
                                 * 'inner'      同 'inside'。
                                 * 'center'     在饼图中心位置。见圆环图示例
                                 */
                                position: 'inner'
                            }
                        },
                        /**
                         * 标签的视觉引导线样式，在 label 位置 设置为'outside'的时候会显示视觉引导线。
                         */
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
                            /**
                             * selected 该数据项是否被选中。
                             */
                            {value:335, name:'直达', selected:true},
                            {value:679, name:'营销广告'},
                            {value:1548, name:'搜索引擎'}
                        ]
                    },
                    {
                        name:'访问来源',
                        type:'pie',
                        radius: ['40%', '55%'],
                        label: {
                            normal: {
                                /**
                                 * {a}：系列名。
                                 * {b}：数据名。
                                 * {c}：数据值。
                                 * {d}：百分比。
                                 * 注意 {a-d}在字符串中只能使用一次
                                 */
                                //formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                formatter: function (params) {
                                    /**
                                     "$vars": Array [ ]
                                     color: undefined
                                     componentSubType: "pie"
                                     componentType: "series"
                                     data: Object { value: 335, name: "直达" }
                                     dataIndex: 0
                                     dataType: undefined
                                     marker: ""
                                     name: "直达"
                                     percent: 13.08
                                     seriesId: "\u0000访问来源\u00001"
                                     seriesIndex: 1
                                     seriesName: "访问来源"
                                     seriesType: "pie"
                                     status: "normal"
                                     value: 335
                                     */ 
                                    return '{a|'+params.seriesName+'}{abg|}\n{hr|}\n  {b|'+params.data.name2+'：}'+params.data.value+'  {per|'+params.percent+'%}  ';
                                },
                                backgroundColor: '#eee',
                                borderColor: '#aaa',
                                borderWidth: 1,
                                borderRadius: 4,
                                // shadowBlur:3,
                                // shadowOffsetX: 2,
                                // shadowOffsetY: 2,
                                // shadowColor: '#999',
                                // padding: [0, 7],
                                /**
                                 * 在 rich 里面，可以自定义富文本样式。利用富文本样式，可以在标签中做出非常丰富的效果。
                                 */
                                rich: {
                                    a: {
                                        color: '#999',
                                        lineHeight: 22,
                                        align: 'center'
                                    },
                                    // abg: {
                                    //     backgroundColor: '#333',
                                    //     width: '100%',
                                    //     align: 'right',
                                    //     height: 22,
                                    //     borderRadius: [4, 4, 0, 0]
                                    // },
                                    hr: {
                                        borderColor: '#aaa',
                                        width: '100%',
                                        borderWidth: 0.5,
                                        height: 0
                                    },
                                    b: {
                                        fontSize: 16,
                                        lineHeight: 33
                                    },
                                    per: {
                                        color: '#eee',
                                        backgroundColor: '#334455',
                                        padding: [2, 4],
                                        borderRadius: 2
                                    }
                                }
                            }
                        },
                        data:[
                            {value:335, name:'直达', name2:'直达'},
                            {value:310, name:'营销广告', name2:'邮件营销'},
                            {value:234, name:'营销广告', name2:'联盟广告'},
                            {value:135, name:'营销广告', name2:'视频广告'},
                            {value:1048, name:'搜索引擎', name2:'百度'},
                            {value:251, name:'搜索引擎', name2:'谷歌'},
                            {value:147, name:'搜索引擎', name2:'必应'},
                            {value:102, name:'搜索引擎', name2:'其他'}
                        ]
                    }
                ]
            }
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>
</body>
</html>