<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>echarts</title>
    <link rel="stylesheet" href="../../resource/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resource/plugins/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../resource/plugins/AdminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../resource/plugins/AdminLTE/css/skins/_all-skins.css">
    <link rel="stylesheet" href="../../resource/plugins/highlight/styles/dark.css">
    <link rel="stylesheet" href="../../resource/common/css/code.css">

    <script src="../../resource/plugins/html5/html5shiv.min.js"></script>
    <script src="../../resource/plugins/html5/respond.min.js"></script>
    <script src="../../resource/plugins/jquery/jquery.min.js"></script>
    <script src="../../resource/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../resource/plugins/AdminLTE/js/adminlte.js"></script>
    <script src="../../resource/plugins/layui/layui.all.js"></script>
    <script src="../../resource/plugins/highlight/highlight.pack.js"></script>
    <script src="../../resource/plugins/clipboard/clipboard.js"></script>
    <script src="../../resource/plugins/echarts/echarts.js"></script>
    <script src="../../resource/plugins/echarts/theme/macarons.js"></script>
    <script src="../../resource/common/js/code.js"></script>

    <!--datatable按钮-->
    <script type="text/javascript">


    </script>

    <style type="text/css">
        .box{
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        }
        
    </style>


</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">
    <!--头部区域-->
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>奇果</b></span>
            <span class="logo-lg"><b>南京奇果</b>后台管理</span>
        </a>
        <!--导航栏，随着页面一起滚动的导航栏-->
        <nav class="navbar navbar-static-top">
            <!-- 侧边栏切换按钮-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!--头部导航-自定义菜单栏-->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="javascript:openFullscreen(this)">
                            <i class="fa fa-yahoo"></i>
                        </a>
                    </li>
                    <!--用户通知信息-->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有10个通知</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i>今天有10个推荐位被设置
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i>你的密码已过期，需要重置密码
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看更多</a></li>
                        </ul>
                    </li>
                    <!--用户任务信息-->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有9个任务</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <h3>
                                                推荐位设置进度
                                                <small class="pull-right">90%</small>
                                            </h3>
                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-aqua" style="width: 90%"
                                                     role="progressbar"
                                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">90% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h3>
                                                项目创建进度
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h3>
                                                内容注入进度
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">查看更多任务</a>
                            </li>
                        </ul>
                    </li>
                    <!--用户账户信息-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="user-image"
                                 alt="用户头像">
                            <span class="hidden-xs">Morgan</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- 用户头像 -->
                            <li class="user-header">
                                <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="img-circle"
                                     alt="用户头像">
                                <p>
                                    Morgan - 前端开发人员
                                    <small>开发人员</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的任务</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的通知</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的信息</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">编辑</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--编辑-->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--左侧边栏区域-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!--用户概要信息模块-->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="用户头像">
                </div>
                <div class="pull-left info">
                    <p>Morgan</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!--侧边栏菜单-->
            <ul class="sidebar-menu" data-widget="tree">
                <li><a href="/CMS/view/main/main.html"><i class="fa fa-circle-o text-yellow"></i> <span>概览</span></a>
                </li>
                <li class="header">案例</li>
                <li class="treeview active">
                    <a href="/CMS/view/ES6/Array.html">
                        <i class="fa fa-files-o"></i>
                        <span>echarts</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        <!--<span class="pull-right-container"><span class="label label-primary pull-right">4</span></span>-->
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/CMS/view/ES6/Array.html#会替换原数组的方法"><i class="fa fa-circle-o"></i>会替换原数组的方法</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <div class="box box-primary box-solid"><!--默认关闭盒子添加collapsed-box-->
                <div class="box-header with-border">
                    <h3 class="box-title">查询结果</h3>
                </div>
                <div class="box-body" style="height: 100%;">
                    <div id="demo" style="height:700px"></div>

                </div><!--box-body-->
            </div><!--box box-primary box-solid-->
        </section>
        <footer class="content-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
    </div>

    <aside class="control-sidebar control-sidebar-dark"></aside>
    <div class="control-sidebar-bg"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('demo'), "macarons");

        // 指定图表的配置项和数据
        var option = {
            //标题组件，包含主标题和副标题。
            title: {
                id:'demo_title_id',
                show: true,//是否显示标题组件。
                text: 'ECharts 入门示例',//主标题文本，支持使用 \n 换行。
                link: '#',//主标题文本超链接。
                target: 'blank',//指定窗口打开主标题超链接。'self' 当前窗口打开 'blank' 新窗口打开
                textStyle:{
                    //主标题文字的颜色。
                    //color:'#333',
                    fontStyle:'oblique',//主标题文字字体的风格'normal' 'italic' 'oblique'
                    fontWeight:'bolder',//主标题文字字体的粗细
                    fontSize:24,//主标题文字的字体大小 默认18
                    align:'right',//文字水平对齐方式，默认自动。'left' 'center' 'right'
                    verticalAlign:'bottom'
                },
                subtext:'我是富文本',//副标题文本，支持使用 \n 换行。
                sublink:'#',//副标题文本超链接。
                subtarget:'blank',//'self' 当前窗口打开  'blank' 新窗口打开
                subtextStyle:{},
                padding:[5,5,5,5],//标题内边距，单位px
                itemGap:30,//主副标题之间的间距。
                zlevel:1,//所有图形的 zlevel 值。
                z:2,//组件的所有图形的z值。控制图形的前后顺序。z值小的图形会被z值大的图形覆盖。
                left:'500',//grid 组件离容器左侧的距离。
                top:'auto',//grid 组件离容器上侧的距离。
                right: 'auto',//grid 组件离容器右侧的距离。
                bottom: 'auto',//grid 组件离容器下侧的距离。
                backgroundColor:'transparent',//标题背景色，默认透明。[ default: 'transparent' ] 
                borderColor:'#ccc',//标题的边框颜色。支持的颜色格式同 backgroundColor。
                
            },
            //图例组件。
            legend: {
                type:'plain',//图例的类型。'plain'：普通图例。缺省就是普通图例。'scroll'：可滚动翻页的图例。当图例数量较多时可以使用。
                //data:  ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"],//如果不指定data数据，默认使用series下面指定的那么值，如果需要指定data，那么必须保证data里面的值要与series下的name属性值要一致
                //data:[//使用对象的话，必须要保证name属性与series下的name保持一致，同时可以自定义每一个图例的样式
                 //   {
                 //       name:'衬衫',
                 //       icon: 'circle',
                 //       textStyle: {
                 //           color: 'red'// 设置文本为红色
                 //       }
                 //   }
                //],
                id:'demo_legend_id',//组件 ID。默认不指定。指定则可用于在 option 或者 API 中引用组件。
                show:true,
                zlevel:2,//所有图形的 zlevel 值。
                z:3,//组件的所有图形的z值。控制图形的前后顺序。z值小的图形会被z值大的图形覆盖。
                //left:'auto',//图例组件离容器左侧的距离。
                //top:10,//图例组件离容器上侧的距离。
                right:10,//图例组件离容器右侧的距离。
                //bottom:50,//图例组件离容器下侧的距离。
                width:'auto',//图例组件的宽度。默认自适应。
                height:'auto',//图例组件的高度。默认自适应。
                orient:'vertical',//图例列表的布局朝向。'horizontal'  'vertical'
                align:'auto',//图例标记和文本的对齐。默认自动
                itemGap:25,//图例每项之间的间隔。横向布局时为水平间隔，纵向布局时为纵向间隔。
                //formatter:(name)=>{return '项目_'+name},//用来格式化图例文本，支持字符串模板和回调函数两种形式。
                formatter:'【{name}】',
                itemWidth:25,//图例标记的图形宽度。
                itemHeight:14,//图例标记的图形高度。
                padding:5 ,//图例内边距，单位px，默认各方向内边距为5，接受数组分别设定上右下左边距。
                selectedMode:true,//是否开启点击效果，图例选择的模式，控制是否可以通过点击图例改变系列的显示状态。默认开启图例选择，可以设成 false 关闭。
                inactiveColor: '#ccc',//图例关闭时的颜色。
                selected: {//控制图例默认是否选中，图例选中状态表。
                    '衬衫': true,
                    '羊毛衫': false,//默认不选中
                    '雪纺衫': true,//默认选中
                    '裤子': true,
                    '高跟鞋': false,
                    '袜子': false,
                },
                tooltip: {
                    show: true,//是否开启鼠标悬停，提示文字
                },
                backgroundColor:'transparent',//图例整体的背景色，并不是某一个图例的背景色，默认透明。
                borderColor:'rgba(0, 0, 0, 0.3)',//图例的边框颜色。支持的颜色格式同 backgroundColor。
                borderWidth:1,//图例的边框线宽。
                borderRadius:5,//圆角半径，单位px，支持传入数组分别指定 4 个圆角半径。 如:
            },
            //x轴
            xAxis: {
                id:'demo_xAxis_id',
                gridIndex:0,//x 轴所在的 grid 的索引，默认位于第一个 grid。
                position:'bottom',//x 轴的位置。'top''bottom'
                type:'category',//坐标轴类型。'value' 数值轴，适用于连续数据。category' 类目轴，适用于离散的类目数据，为该类型时必须通过 data 设置类目数据。'time' 时间轴，适用于连续的时序数据，'log' 对数轴。适用于对数数据。
                show:true,
                name:'月份',//坐标轴名称。
                nameLocation:'end',//坐标轴名称显示位置。'start' 'middle' 或者 'center''end'
                nameGap:50,//坐标轴名称与轴线之间的距离。
                inverse:false,//x坐标轴数据倒序显示，是否是反向坐标轴。ECharts 3 中新加。
                data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],//类目数据，在类目轴（type: 'category'）中有效。
                axisPointer:{
                    show:true,
                    label:{
                        show:true,
                        formatter: '{value}份'
                    }
                },
            },
            //y轴
            yAxis: {
                id:'demo_yAxis_id',
                show:true,
                gridIndex:0,
                position:'left',//y 轴的位置。'left' 'right'
                type: 'value',//坐标轴类型。'value' 数值轴，适用于连续数据。'category' 类目轴，适用于离散的类目数据，为该类型时必须通过 data 设置类目数据。'time' 时间轴，'log' 对数轴
                name: '销量',//坐标轴名称。
                nameLocation:'end',//坐标轴名称显示位置。'start'  'middle' 或者 'center'  'end'
                nameGap:50,//坐标轴名称与轴线之间的距离。
                min: 0,//坐标轴刻度最小值。
                max: 200,//坐标轴刻度最大值。
                //interval: 10,//强制设置坐标轴分割间隔。只在type为'value'时有效
                splitNumber:20,//坐标轴的分割段数,与interval不能同时使用，只在type为'value'时有效
                axisLabel: {
                    formatter: '{value} 件'
                },
                axisPointer:{
                    show:true,
                    label:{
                        show:true,
                        formatter: '销量{value}件'
                    }
                },
            },
            //x轴具体系列的数据
            series: [
                {
                    name: '衬衫',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 99,11,33,3,44,22,88]
                },
                {
                    name: '羊毛衫',
                    type: 'bar',
                    data: [44, 55, 2, 77, 2, 45,88,2,122,12,156,3]
                },
                {
                    name: '雪纺衫',
                    type: 'bar',
                    data: [233, 11, 56, 145, 88, 34,156,2,98,76,89,122]
                },
                {
                    name: '裤子',
                    type: 'line',
                    data: [23, 56, 32, 11, 65, 177,12,3,188,23,22,66]
                },
                {
                    name: '高跟鞋',
                    type: 'bar',
                    data: [111, 21, 45, 77, 33, 123,89,23,12,155,3,222]
                },
                {
                    name: '袜子',
                    type: 'bar',
                    data: [3, 22, 45, 123, 67, 99,145,188,144,23,11,90]
                },
                
            ],
            //显示虚线提示线，并有数值提示
            tooltip: {
                show:true,
                trigger: 'axis',//触发类型。 'item'数据项图形触发，主要在散点图，饼图等无类目轴的图表中使用。'axis'坐标轴触发，主要在柱状图，折线图等会使用类目轴的图表中使用。
                axisPointer: {//坐标轴指示器配置项。
                        type: 'cross',//指示器类型。'line' 直线指示器'shadow' 阴影指示器'cross' 十字准星指示器。其实是种简写，表示启用两个正交的轴的 axisPointer。
                }
            },
            
            //网格
            grid:{
                id:'demo_grid_id',//组件 ID。默认不指定。指定则可用于在 option 或者 API 中引用组件。
                show:true,//是否显示直角坐标系网格。默认false
                zlevel:3,
                z:5,
                left:'10%',//grid 组件离容器左侧的距离。
                top:150,//grid 组件离容器上侧的距离。
                width:'auto',//grid 组件的宽度。默认自适应。[ default: 'auto' ] 
                height:'auto',//grid 组件的宽度。默认自适应。
                backgroundColor:'transparent',//网格背景色，默认透明。
                tooltip:{
                    show:true,
                    trigger:'axis',//axis item none控制提示框内显示的内容为所有系列的数据，如果不设置，提示框将显示某一个系列的数据
                },
            }
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>
</body>
</html>