<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries-->
    <!--[if lt IE 9]>
    <script src="../../resource/plugins/IE9/html5shiv.min.js"></script>
    <script src="../../resource/plugins/IE9/respond.min.js"></script>
    <![endif]-->


    <!--自动进度条 start-->
    <link rel="stylesheet" href="../../resource/plugins/pace-0.7.8/themes/red/pace-theme-barber-shop.css">
    <script src="../../resource/plugins/pace-0.7.8/pace.js"></script>
    <style type="text/css">
        /* 自定义网络进度条皮肤 */
        .pace {
            -webkit-pointer-events: none;
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
        }

        .pace-inactive {
            display: none
        }

        .pace .pace-progress {
            background: #e43c59;
            position: fixed;
            z-index: 100000;
            top: 0;
            right: 100%;
            width: 100%;
            height: 2px
        }

        .pace .pace-progress-inner {
            display: block;
            position: absolute;
            right: 0px;
            width: 100px;
            height: 100%;
            -webkit-box-shadow: 0 0 10px #e43c59, 0 0 5px #e43c59;
            box-shadow: 0 0 10px #e43c59, 0 0 5px #e43c59;
            opacity: 1.0;
            -webkit-transform: rotate(3deg) translate(0px, -4px);
            -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px)
        }

    </style>
    <!--自动进度条 end-->

    <!--font-awesome字体 start-->
    <link rel="stylesheet" href="../../resource/plugins/font-awesome/css/font-awesome.css">
    <!--font-awesome字体 end-->

    <!--jquery 自动补全搜索结果 start-->
    <script src="../../resource/plugins/jquery/jquery.js"></script>
    <link rel="stylesheet" href="../../resource/plugins/jQuery-autoComplete-1.0.7/jquery.auto-complete.css">
    <script src="../../resource/plugins/jQuery-autoComplete-1.0.7/jquery.auto-complete.js"></script>
    <!--jquery 自动补全搜索结果 end-->

    <!--bootstrap start-->
    <link rel="stylesheet" type="text/css" href="../../resource/plugins/bootstrap-3.3.7/dist/css/bootstrap.css">
    <script src="../../resource/plugins/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <!--bootstrap end-->

    <!--图片比较 start-->
    <link rel="stylesheet" href="../../resource/plugins/twentytwenty-1.0.1/css/twentytwenty.css">
    <script src="../../resource/plugins/jquery.event.move-2.0.1/js/jquery.event.move.js"></script>
    <script src="../../resource/plugins/twentytwenty-1.0.1/js/jquery.twentytwenty.js"></script>
    <!--图片比较 end-->

    <!--自定义滚动条 start-->
    <link rel="stylesheet" href="../../resource/plugins/perfect-scrollbar-1.4.0/css/perfect-scrollbar.css">
    <script src="../../resource/plugins/perfect-scrollbar-1.4.0/dist/perfect-scrollbar.js"></script>
    <!--自定义滚动条 end-->

    <!--滚动事件 start-->
    <script src="../../resource/plugins/waypoints-latest/lib/jquery.waypoints.js"></script>
    <!--滚动事件 end-->

    <!--消息提示 start-->
    <link rel="stylesheet" href="../../resource/plugins/toastr-2.1.1/toastr.css">
    <script src="../../resource/plugins/toastr-2.1.1/toastr.js"></script>
    <!--消息提示 end-->

    <!--复制插件 start-->
    <script src="../../resource/plugins/clipboard/clipboard.js"></script>
    <!--复制插件 end-->
    
    <link rel="stylesheet" href="../navbar/css/content.css">
    <style type="text/css">

    </style>

    <!--代码高亮 start-->
    <script src="../../resource/plugins/code-prettify/src/prettify.js?a=2"></script>
    <script src="../../resource/plugins/code-prettify/src/lang-css.js"></script>
    <link rel="stylesheet" href="../../resource/plugins/code-prettify/src/prettify.css">
    <link rel="stylesheet" href="../../resource/plugins/code-prettify/styles/sunburst.css">
    <script type="text/javascript">
        $(function () {
            //代码高亮
            prettyPrint();
        });
    </script>
    <!--代码高亮 end-->
    
    
    <script type="text/javascript">

        $(function () {
            var w = null;
            w = top === self ? self : top;
            //消息提示工具公共配置
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            //使用Pace插件，监控页面请求完成后，提示加载完成
            Pace.on("done",function(){
                w.toastr.info("加载完成！");
            });


            setTimeout(function () {
                //添加复制按钮
                $('<a class=\"code-copy\" title=\"复制到剪切板\" style="display: block; position: absolute; top: 50px;left:-15px;"><i class=\"fa fa-copy\"></i></a>').insertBefore("pre");
            },1000);


            if(Clipboard){
                /***** 复制按钮 开始*******/
                var clipboardSnippets = new Clipboard('.code-copy', {
                    'text': function (trigger) {
                        return $(trigger).siblings("pre").text();
                    }
                });
                clipboardSnippets.on('success', function (e) {
                    e.clearSelection();
                    w.toastr.info("复制成功")
                });
                clipboardSnippets.on('error', function (e) {
                    w.toastr.info("复制失败");

                });
            }
        });
    </script>
    
</head>
<body>
<main class="el-main">
    <div class="doc-content">
        <h2 id="doc-content-title">21.Class的基本语法</h2>
        <div class="page-description">
            <p>类的由来</p>
            <p>ES6 提供了更接近传统语言的写法，引入了 Class（类）这个概念，作为对象的模板。通过class关键字，可以定义类。</p>
            <p><strong>基本上，ES6 的class可以看作只是一个语法糖，它的绝大部分功能，ES5 都可以做到，新的class写法只是让对象原型的写法更加清晰、更像面向对象编程的语法而已。上面的代码用 ES6 的class改写，就是下面这样：</strong></p>
            <iframe height="727" style="width: 100%;" scrolling="no" title="Class 的基本语法" src="https://codepen.io/chentong106140/embed/rNadLop?height=727&theme-id=dark&default-tab=js" frameborder="no" allowtransparency="true" allowfullscreen="true">
                See the Pen <a href='https://codepen.io/chentong106140/pen/rNadLop'>Class 的基本语法</a> by chentong106140
                (<a href='https://codepen.io/chentong106140'>@chentong106140</a>) on <a href='https://codepen.io'>CodePen</a>.
            </iframe>


        </div>
        <div>
            <h3>总结</h3>
            <div class="doc-content-item-card">
                <h4>
                    <span class="path-parent"><a href="#title">定义</a></span>
                </h4>
                <div class="item-description">
                    <p>注意点：</p>
                    <p><strong>如下：</strong></p>
                    <ul class="item-description-list">
                        <li>
                            <p><code class="codespan">constructor</code>构造方法内的this关键字代表实例对象，ES5的构造函数Point1,对应ES6的Point2类的构造方法</p>
                        </li>
                        <li>
                            <p>定义“类”的方法的时候，前面不需要加上function这个关键字，直接把函数定义放进去了就可以了</p>
                        </li>
                        <li>
                            <p><code class="codespan">Class</code>定义类的时候，class关键字必须是小写，否则报错</p>
                        </li>
                        <li>
                            <p>方法之间不需要逗号分隔，加了会报错</p>
                        </li>
                        <li>
                            <p><code class="codespan">console.log(typeof Point2);// function</code>说明：Class定义的类与ES5定义函数，作用一样，都是function</p>
                        </li>
                        <li>
                            <p><code class="codespan">console.log(Point2 === Point2.prototype.constructor); // true</code>一样说明：Class定义的类指向的其实也是ES5里面构造函数</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="doc-content-item-card">
                <h4>
                    <span class="path-parent"><a href="#title">定义</a></span>
                </h4>
                <div class="item-description">
                    <pre class="prettyprint linenums">
class Point {
  constructor() {
    // ...
  }

  toString() {
    // ...
  }

  toValue() {
    // ...
  }
}

// 等同于

Point.prototype = {
  constructor() {},
  toString() {},
  toValue() {},
};
                    </pre>
                    <p><strong>如下：</strong></p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>