<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mask-image</title>
    <style type="text/css">
        .mask-image {
            width: 250px; 
            height: 187.5px;
            -webkit-mask-image: url(image/shadel3.gif);
            mask-image: url(image/shadel3.gif);
        }
    </style>
</head>
<body style="background-color: #f2972b">
<div class="testDiv"></div>
<img src="image/img1.jpg" class="mask-image">

<script type="text/javascript">

    

</script>
</body>
</html>