<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编译</title>
</head>
<body>
<script type="text/javascript">
    
    //学习地址：
    // https://www.imooc.com/code/6376
    
    //例如需要编译为如下这种格式，分别比较sass与scss
    
    /*
     body {
     font: 100% Helvetica, sans-serif;
     color: #333;
     }
    */

    /**
     * sass格式
     */
    /*
    
    $font-stack: Helvetica, sans-serif
    $primary-color: #333

    body
    font: 100% $font-stack
    color: $primary-color
    
    */

    /**
     * SCSS语法格式
     */
    
    /*

     $font-stack: Helvetica, sans-serif;
     $primary-color: #333;

     body {
     font: 100% $font-stack;
     color: $primary-color;
     }
    
     */

    /**
     * 总结：
     * 
     * 其书写格式不同（sass使用缩进规则，scss使用大括号）
     * 文件扩展名不同（.sass /  .scss）
     * 
     * 如案例文件
     * 1-sass.sass
     * 2-scss.scss
     */


</script>
</body>
</html>