@charset "utf-8";
//加减乘除    https://www.imooc.com/code/7723


/**
    以下是加法运算：
 */
$box1:5px + 10px;

.box1{
  width:$box1;
  
  //width:10px + 20em;  报错：Error: Incompatible units: 'em' and 'px'.  加法运算中不允许两个单位不一样的数值进行算法运算
  
  width:20px + 50;  // 70px;  如果只有一个数值存在单位，其他数值没有单位，默认以该有单位的为准
  
  width:20px +50;   //width: 20px +50;  加号必须与数值或变量，通过空格分开来，否则，sass会认为是字符串
  
  width:1px + 2 + 3 + 4;  //  10px; 说明只要有一个数值存在单位的就以该单位为准
  
  $box1:10;
  width:10px + $box1; //20px; 数值与变量，只有一个数值有单位的，也是可以通过的，最终的单位以存在单位数值的单位为准
  
  $box1:30px;
  width:10+$box1; //40px; 同理，当数值没有单位，变量存在单位，最终结果值的单位以存在单位的单位为准
}

/**
      以下是减法运算
 */
.box2{
  $box2:100px - 90px;
  width:$box2;  //10px; 两个数值，在保证单位一样的情况下，是可以进行减法运算的
  
  //width:20px - 10em;  Error: Incompatible units: 'em' and 'px'.如果两个数值想减，但是不一样，编译会报错
  
  width:20px -5;  //width: 20px -5;   减号必须与数值或变量通过空格分开了，否则，会被认为是字符串
  
  width:20px - 5;   //15px;   如果只有一个数值存在单位，其他数值没有单位，默认以该有单位的为准
  
  width:10px - 1 - 2 - 3; //4px;    同上，说明只要有一个数值存在单位的就以该单位为准
  
  $box2:10;
  width:20px - $box2;   //10px;   数值与变量，只有一个数值有单位的，也是可以通过的，最终的单位以存在单位数值的单位为准
  
  $box2:10px;
  width:20 - $box2;   //10px;   同理，当数值没有单位，变量存在单位，最终结果值的单位以存在单位的单位为准
}

/**
      以下是乘法运算

 */
.box3{
  //width:20px * 10px;  Error: 200px*px isn't a valid CSS value.  报错，两个值单位相同时，只需要为一个数值提供单位即可
  
  width:20px * 10;  //200px;   两个值单位相同时，只需要为一个数值提供单位即可
  
  //width: 20px * 2em;  Error: 40em*px isn't a valid CSS value. 乘法运算和加法、减法运算一样，在运算中有不同类型的单位时，也将会报错
}

/**
      以下是除法运算
 */
.box4{
  font: 10px/8px;             //font: 10px/8px;    纯 CSS，不是除法运算 ，因为没有用括号
  font: 10px/2;               //font: 10px/2;     
  font: 10px / 2;             //font: 10px / 2;     除法符号无论是否与数值或变量通过空格分割，最终的结果sass都会认为是字符串，不会进行除法运算
  
  $width: 1000px;
  width: $width/2;            // 使用了变量，是除法运算
  
  width: round(1.5)/2;        // 使用了函数，是除法运算
  
  height: (500px/2);          // 使用了圆括号，是除法运算
  
  margin-left: 5px + 8px/2px; // 使用了加（+）号，是除法运算，“/”符号在已有的数学表达式中时，也会被认作除法符号
  
  width:(1000px / 100px);     //width: 10;  除法运算时，如果两个值带有相同的单位值时，除法运算之后会得到一个不带单位的数值，所以为了存在单位，需要将其中给一个单位去掉，只保留一个单位即可
  width:(1000px / 100);     //width: 10px;  验证成功，只需要保留一个数值存在单位即可，最终的结果才能存在单位
}



/**
    加法-减法运算：
      1：不允许两个数值单位不一样进行加法运算
      2：多个数值进行相加，只有一个数值存在单位，最后计算出来的结果值的单位，以该单位为准
      3：数值与变量相加，无论数值有单位还是变量有单位，最终结果值的单位，都以有单位的为准
      4：加号运算符必须要与数值或变量，通过空格分开来计算，否则，sass会认为是字符串
      
     乘法运算：
        1：两个值单位相同时，只需要为一个数值提供单位即可，否则报错
        2：乘法运算和加法、减法运算一样，在运算中有不同类型的单位时，也将会报错
        
        
      除法运算：
        1：除法符号无论是否与数值或变量通过空格分割，最终的结果sass都会认为是字符串，不会进行除法运算
        2：如果两个数值需要实现除法运算，需要有如下几种情况才会认为是除法运算
            2.1：算法外面需要使用括号括起来，如：(500px/2)
            2.2：算法内，存在函数，如：round(1.5)/2
            2.3：算法内，存在其他运算符，如：5px + 8px/2px
            2.4：算法内，存在变量，如：$width/2
            
        3：除法运算时，如果两个值带有相同的单位值时，除法运算之后会得到一个不带单位的数值，
          所以为了存在单位，需要将其中给一个单位去掉，只保留一个单位即可，如下：
          width:(1000px / 100px); 可以改成  width:(1000px / 100);
          
     
      
 */













