<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>首页</title>
    <link rel="stylesheet" href="../../resource/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resource/plugins/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../resource/plugins/AdminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../resource/plugins/AdminLTE/css/skins/_all-skins.css">
    <link rel="stylesheet" href="../../resource/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../resource/plugins/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../resource/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../../resource/plugins/select2/css/select2.min.css">
    <!--<link rel="stylesheet" href="../../resource/plugins/jquery-datatable/css/jquery.dataTables.min.css">-->
    <link rel="stylesheet" href="../../resource/plugins/jquery-datatable/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/jquery-datatable-fixed-columns/css/fixedColumns.bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/Buttons-1.5.2/css/buttons.bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/highlight/styles/dark.css">
    <link rel="stylesheet" href="../../resource/common/css/code.css">

    <script src="../../resource/plugins/html5/html5shiv.min.js"></script>
    <script src="../../resource/plugins/html5/respond.min.js"></script>
    <script src="../../resource/plugins/jquery/jquery.min.js"></script>
    <script src="../../resource/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../resource/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../resource/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../../resource/plugins/AdminLTE/js/adminlte.js"></script>
    <script src="../../resource/plugins/layui/layui.all.js"></script>
    <script src="../../resource/plugins/select2/js/select2.js"></script>
    <script src="../../resource/plugins/jquery-datatable/js/jquery.dataTables.min.js"></script>
    <script src="../../resource/plugins/jquery-datatable/js/dataTables.bootstrap.min.js"></script>
    <script src="../../resource/plugins/jquery-datatable-fixed-columns/js/dataTables.fixedColumns.js"></script>
    <script src="../../resource/plugins/highlight/highlight.pack.js"></script>
    <script src="../../resource/plugins/clipboard/clipboard.js"></script>

    <!--datatable按钮-->
    <script src="../../resource/plugins/Buttons-1.5.2/js/dataTables.buttons.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.bootstrap.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.flash.js"></script>
    <script src="../../resource/plugins/JSZip-2.5.0/jszip.min.js"></script>
    <script src="../../resource/plugins/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="../../resource/plugins/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.html5.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.print.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.colVis.js"></script>
    <script type="text/javascript">

        $(function () {

            //添加复制按钮
            $(' <a class=\"code-copy\" title=\"复制到剪切板\"><i class=\"fa fa-copy\"></i></a>').insertBefore("code")


            /***** 复制按钮 开始*******/
            var clipboardSnippets = new Clipboard('.code-copy', {
                'text': function (trigger) {
                    return $(trigger).parents("pre").children("code").html();
                }

            });
            clipboardSnippets.on('success', function (e) {
                e.clearSelection();
                alert("复制成功")
            });
            clipboardSnippets.on('error', function (e) {
                alert("复制失败");

            });
            hljs.initHighlightingOnLoad();

        });


    </script>

    <style type="text/css">

        body {
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .main-header {
            max-height: 101px;
        }

        .layadmin-header {
            display: block;
            height: 50px;
            line-height: 50px;
            margin-bottom: 0;
            border-radius: 0;
        }

        .layadmin-header .layui-breadcrumb {
            border-top: 1px solid #f6f6f6;
            padding: 0 15px;
        }

        .layui-breadcrumb {
            visibility: visible;
            font-size: 0;
        }

        .wrapper {
            height: 100%;
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .content-wrapper {
            position: relative;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .content-footer {
            background: #fff;
            padding: 15px;
            color: #444;
            border-top: 1px solid #d2d6de;
            z-index: 820;
            display: block;
        }

        .box-body button {
            color: tomato;
            margin: 20px 50px;
        }


    </style>


</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!--头部区域-->
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>奇果</b></span>
            <span class="logo-lg"><b>南京奇果</b>后台管理</span>
        </a>
        <!--导航栏，随着页面一起滚动的导航栏-->
        <nav class="navbar navbar-static-top">
            <!-- 侧边栏切换按钮-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!--头部导航-自定义菜单栏-->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="javascript:openFullscreen(this)">
                            <i class="fa fa-yahoo"></i>
                        </a>
                    </li>
                    <!--用户通知信息-->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有10个通知</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i>今天有10个推荐位被设置
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i>你的密码已过期，需要重置密码
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看更多</a></li>
                        </ul>
                    </li>
                    <!--用户任务信息-->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有9个任务</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <h3>
                                                推荐位设置进度
                                                <small class="pull-right">90%</small>
                                            </h3>
                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-aqua" style="width: 90%"
                                                     role="progressbar"
                                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">90% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h3>
                                                项目创建进度
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h3>
                                                内容注入进度
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">查看更多任务</a>
                            </li>
                        </ul>
                    </li>
                    <!--用户账户信息-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="user-image"
                                 alt="用户头像">
                            <span class="hidden-xs">Morgan</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- 用户头像 -->
                            <li class="user-header">
                                <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="img-circle"
                                     alt="用户头像">
                                <p>
                                    Morgan - 前端开发人员
                                    <small>开发人员</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的任务</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的通知</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的信息</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">编辑</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--编辑-->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--左侧边栏区域-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!--用户概要信息模块-->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="用户头像">
                </div>
                <div class="pull-left info">
                    <p>Morgan</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!--全文搜索模块-->
            <!--            <form action="#" method="get" class="sidebar-form">
                            <div class="input-group">
                                &lt;!&ndash;搜索内容输入元素&ndash;&gt;
                                <input type="text" name="q" class="form-control" placeholder="搜索...">
                                &lt;!&ndash;提交搜索内容元素&ndash;&gt;
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>-->
            <!--侧边栏菜单-->
            <ul class="sidebar-menu" data-widget="tree">
                <li><a href="/CMS/view/main/main.html"><i class="fa fa-circle-o text-yellow"></i> <span>概览</span></a>
                </li>
                <li class="header">案例</li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>DataTable</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/CMS/view/datatable/datatable_ajax_array.html"><i class="fa fa-circle-o"></i>ajax获取数组类型数据</a>
                        </li>
                        <li><a href="/CMS/view/datatable/datatable_dom.html"><i
                                class="fa fa-circle-o"></i>使用DOM作为数据源</a></li>
                        <li><a href="/CMS/view/datatable/datatable_ajax_object.html"><i class="fa fa-circle-o"></i>ajax获取对象类型数据</a>
                        </li>
                        <li><a href="/CMS/view/datatable/datatable_ajax_object_processing.html"><i
                                class="fa fa-circle-o"></i>ajax获取嵌套对象类型数据</a></li>
                        <li class="active"><a href="/CMS/view/datatable/datatable_ajax_object_auto_defined.html"><i
                                class="fa fa-circle-o"></i>生成自定义内容</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>layer弹窗</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        <!--<span class="pull-right-container"><span class="label label-primary pull-right">4</span></span>-->
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i>视频类型管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>视频管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>集数管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>cp视频管理</a></li>
                    </ul>
                </li>

                <li class="header">权限管理</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>系统管理</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i>用户管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>角色管理</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>上传设置</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>资源管理</span></a></li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <div id="card" class="layui-card layadmin-header">
            <span class="layui-breadcrumb" lay-separator="/">
              <a href="#">layer弹窗</a>
               <a><cite>生成自定义内容</cite></a>
            </span>
        </div>
        <section class="content">
            <div class="box box-primary box-solid"><!--默认关闭盒子添加collapsed-box-->
                <div class="box-header with-border">
                    <h3 class="box-title">查询结果</h3>
                </div>

                <div class="box-body" style="height: auto;">
                    <!--内容-->
<h1>type类型</h1>
<pre class="javascript hljs ">
    0：信息框,默认
    1：页面层
    2：iframe层
    3：加载层
    4：tips层
</pre>
<div class="box box-primary">
    <button class="btn btn-default test1">type0</button><br/>
    <button class="btn btn-default test2">type1</button><br/>
    <button class="btn btn-default test3">type2</button><br/>
    <button class="btn btn-default test4">type3</button><br/>
    <button class="btn btn-default test5">type4</button><br/>
</div>
<h1>title</h1>
<pre class="javascript hljs ">
title支持3中类型的值
1：title:"标题"
2：title:["标题","font-size:24px;color:red;"]
3:title：false，表示不想显示标题
</pre>
<div class="box box-primary">
    <button class="btn btn-default test6">tile:"标题"</button><br/>
    <button class="btn btn-default test7">title:["标题","font-size:24px;color:red;"]</button><br/>
    <button class="btn btn-default test8">title:false</button><br/>

</div>
<h1>content内容</h1>
<pre>
类型：String/DOM/Array，默认：''
可以放html字符，url地址，DOM对象等
</pre>
<h1>area宽高</h1>
<pre>
类型：String/Array，默认：'auto'自适应
area:"auto"     自适应，一般会在屏幕中央，宽高最小尺寸显示
area:"500px"    设置宽度，高度自适应
area:["500px","500px"]  设置宽高
</pre>
<div class="box box-primary">
    <button class="btn btn-default test9">area:"auto"</button><br/>

</div>











                </div>
            </div>
    </div>
    <!-- /.box -->
    </section>
    <footer class="content-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
</div>

<aside class="control-sidebar control-sidebar-dark"></aside>
<div class="control-sidebar-bg"></div>
<script type="text/javascript">
    layui.element.render({elem: "#card"});

    var layer = layui.layer;

    /**
     * type等于0
     */
    $(".test1").click(function () {
        layer.open({
            type:0,
            title:"type=0：信息框",
            content:"type=0：信息框"
        });
    });

    /**
     * type等于1
     */
    $(".test2").click(function () {
        layer.open({
            type:1,
            title:"type=1：页面层,加载的DOM你会看到，DOM元素完全被移到content区域了，并不是复制DOM,点击关闭，又将DOM还原到页面中",
            shadeClose: true,
            area: ["800px", "800px"],//设置弹出层
            content:$(".box-body")
        });
    });

    /**
     * type等于2
     */
    $(".test3").click(function () {
        layer.open({
            type:2,
            title:"type=2：iframe层",
            shadeClose: true,
            area: ["800px", "800px"],//设置弹出层
            content:'./layer_test_iframe.html'
        });
    });


    /**
     * type3
     */
    $(".test4").click(function () {
        var i = layer.load();
        setTimeout(function () {
            layer.close(i)
        },3000)
    });

    /**
     * type=4
     */
    $(".test5").click(function () {
        layer.tips("type=4，tips层",".test5");
    });

    /**
     * 默认标题
     */

    $(".test6").click(function () {
        layer.open({
            type:1,
            title:"插入标题成功",
            shadeClose: true,
            content:"测试标题属性"
        });
    });

    /**
     * 自定义标题样式
     */
    $(".test7").click(function () {
        layer.open({
            type:1,
            title:["插入标题成功","font-size:26px; color:red;"],
            shadeClose: true,
            content:"测试标题属性"
        });
    });

    /**
     * 不显示标题
     */
    $(".test8").click(function () {
        layer.open({
            type:1,
            title:false,
            shadeClose: true,
            content:"测试标题属性"
        });
    });

    /**
     * area ：auto
     */
    $(".test9").click(function () {
        layer.open({
            type:1,
            area:"auto",
            title:"area:auto",
            shadeClose: true,
            content:'<div style="width:100%; height:100px;">内容插入成功！</div>'
        });
    });

</script>
</div>
</body>
</html>