<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>首页</title>
    <link rel="stylesheet" href="../../resource/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../resource/plugins/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../resource/plugins/AdminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../resource/plugins/AdminLTE/css/skins/_all-skins.css">
    <link rel="stylesheet" href="../../resource/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../resource/plugins/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../resource/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="../../resource/plugins/select2/css/select2.min.css">
    <!--<link rel="stylesheet" href="../../resource/plugins/jquery-datatable/css/jquery.dataTables.min.css">-->
    <link rel="stylesheet" href="../../resource/plugins/jquery-datatable/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/jquery-datatable-fixed-columns/css/fixedColumns.bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/Buttons-1.5.2/css/buttons.bootstrap.css">
    <link rel="stylesheet" href="../../resource/plugins/highlight/styles/dark.css">
    <link rel="stylesheet" href="../../resource/common/css/code.css">

    <script src="../../resource/plugins/html5/html5shiv.min.js"></script>
    <script src="../../resource/plugins/html5/respond.min.js"></script>
    <script src="../../resource/plugins/jquery/jquery.min.js"></script>
    <script src="../../resource/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../resource/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../resource/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../../resource/plugins/AdminLTE/js/adminlte.js"></script>
    <script src="../../resource/plugins/layui/layui.all.js"></script>
    <script src="../../resource/plugins/select2/js/select2.js"></script>
    <script src="../../resource/plugins/jquery-datatable/js/jquery.dataTables.min.js"></script>
    <script src="../../resource/plugins/jquery-datatable/js/dataTables.bootstrap.min.js"></script>
    <script src="../../resource/plugins/jquery-datatable-fixed-columns/js/dataTables.fixedColumns.js"></script>
    <script src="../../resource/plugins/highlight/highlight.pack.js"></script>
    <script src="../../resource/plugins/clipboard/clipboard.js"></script>

    <!--datatable按钮-->
    <script src="../../resource/plugins/Buttons-1.5.2/js/dataTables.buttons.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.bootstrap.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.flash.js"></script>
    <script src="../../resource/plugins/JSZip-2.5.0/jszip.min.js"></script>
    <script src="../../resource/plugins/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="../../resource/plugins/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.html5.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.print.js"></script>
    <script src="../../resource/plugins/Buttons-1.5.2/js/buttons.colVis.js"></script>
    <script type="text/javascript">

        $(function () {

            //添加复制按钮
            $(' <a class=\"code-copy\" title=\"复制到剪切板\"><i class=\"fa fa-copy\"></i></a>').insertBefore("code")


            /***** 复制按钮 开始*******/
            var clipboardSnippets = new Clipboard('.code-copy', {
                'text': function (trigger) {
                    return $(trigger).parents("pre").children("code").html();
                }

            });
            clipboardSnippets.on('success', function (e) {
                e.clearSelection();
                alert("复制成功")
            });
            clipboardSnippets.on('error', function (e) {
                alert("复制失败");

            });
            hljs.initHighlightingOnLoad();

        });


    </script>

    <style type="text/css">

        body {
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .main-header {
            max-height: 101px;
        }

        .layadmin-header {
            display: block;
            height: 50px;
            line-height: 50px;
            margin-bottom: 0;
            border-radius: 0;
        }

        .layadmin-header .layui-breadcrumb {
            border-top: 1px solid #f6f6f6;
            padding: 0 15px;
        }

        .layui-breadcrumb {
            visibility: visible;
            font-size: 0;
        }

        .wrapper {
            height: 100%;
            position: relative;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .content-wrapper {
            position: relative;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .content-footer {
            background: #fff;
            padding: 15px;
            color: #444;
            border-top: 1px solid #d2d6de;
            z-index: 820;
            display: block;
        }

        .box-body button {
            color: tomato;
            margin: 20px 50px;
        }


    </style>


</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!--头部区域-->
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <span class="logo-mini"><b>奇果</b></span>
            <span class="logo-lg"><b>南京奇果</b>后台管理</span>
        </a>
        <!--导航栏，随着页面一起滚动的导航栏-->
        <nav class="navbar navbar-static-top">
            <!-- 侧边栏切换按钮-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!--头部导航-自定义菜单栏-->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="javascript:openFullscreen(this)">
                            <i class="fa fa-yahoo"></i>
                        </a>
                    </li>
                    <!--用户通知信息-->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有10个通知</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i>今天有10个推荐位被设置
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i>你的密码已过期，需要重置密码
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看更多</a></li>
                        </ul>
                    </li>
                    <!--用户任务信息-->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有9个任务</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <h3>
                                                推荐位设置进度
                                                <small class="pull-right">90%</small>
                                            </h3>
                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-aqua" style="width: 90%"
                                                     role="progressbar"
                                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">90% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h3>
                                                项目创建进度
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h3>
                                                内容注入进度
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%"
                                                     role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% 已完成</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">查看更多任务</a>
                            </li>
                        </ul>
                    </li>
                    <!--用户账户信息-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="user-image"
                                 alt="用户头像">
                            <span class="hidden-xs">Morgan</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- 用户头像 -->
                            <li class="user-header">
                                <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="img-circle"
                                     alt="用户头像">
                                <p>
                                    Morgan - 前端开发人员
                                    <small>开发人员</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的任务</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的通知</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">我的信息</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">编辑</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--编辑-->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--左侧边栏区域-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!--用户概要信息模块-->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../../resource/plugins/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="用户头像">
                </div>
                <div class="pull-left info">
                    <p>Morgan</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!--全文搜索模块-->
            <!--            <form action="#" method="get" class="sidebar-form">
                            <div class="input-group">
                                &lt;!&ndash;搜索内容输入元素&ndash;&gt;
                                <input type="text" name="q" class="form-control" placeholder="搜索...">
                                &lt;!&ndash;提交搜索内容元素&ndash;&gt;
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>-->
            <!--侧边栏菜单-->
            <ul class="sidebar-menu" data-widget="tree">
                <li><a href="/CMS/view/main/main.html"><i class="fa fa-circle-o text-yellow"></i> <span>概览</span></a>
                </li>
                <li class="header">案例</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>DataTable</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/CMS/view/datatable/datatable_ajax_array.html"><i class="fa fa-circle-o"></i>ajax获取数组类型数据</a>
                        </li>
                        <li><a href="/CMS/view/datatable/datatable_dom.html"><i
                                class="fa fa-circle-o"></i>使用DOM作为数据源</a></li>
                        <li><a href="/CMS/view/datatable/datatable_ajax_object.html"><i class="fa fa-circle-o"></i>ajax获取对象类型数据</a>
                        </li>
                        <li><a href="/CMS/view/datatable/datatable_ajax_object_processing.html"><i
                                class="fa fa-circle-o"></i>ajax获取嵌套对象类型数据</a></li>
                    </ul>
                </li>
                <li class="treeview active">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>layer弹窗</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        <!--<span class="pull-right-container"><span class="label label-primary pull-right">4</span></span>-->
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="/CMS/view/layer/layer_文档.html"><i class="fa fa-circle-o"></i>layer_文档</a></li>
                        <li><a href="/CMS/view/layer/layer_快速上手.html"><i class="fa fa-circle-o"></i>layer_快速上手</a></li>
                    </ul>
                </li>

                <li class="header">权限管理</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>系统管理</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i>用户管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>角色管理</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>上传设置</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>资源管理</span></a></li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <div id="card" class="layui-card layadmin-header">
            <span class="layui-breadcrumb" lay-separator="/">
              <a href="#">layer弹窗</a>
               <a href="http://www.layui.com/doc/modules/layer.html" target="_blank"><cite>layer_文档</cite></a>
            </span>
        </div>
        <section class="content">
            <div class="box box-primary box-solid"><!--默认关闭盒子添加collapsed-box-->
                <div class="box-header with-border">
                    <h3 class="box-title">查询结果</h3>
                </div>

                <div class="box-body" style="height: 20000px;">
                    <!--内容-->

<h1>最全配置</h1>
<pre class="javascript hljs ">
    <code>
            /**
     *  完整案例
     */
    $(".test57").click(function () {
        layer.open({
            type:1,//  设置类型，1：html内容层
            title:'完成例子',//设置标题
            area:["500px","500px"],//设置宽高
            shadeClose: true,//开启关闭按钮
            closeBtn :1,//关闭按钮的风格样式
            content:'加载成功了吗？',//内容
            btn:['按钮1','按钮2','按钮3'],//设置按钮
            offset:"auto",//显示坐标
            shade: [0.8, '#393D49'],//修改遮罩层透明度与背景颜色
            shadeClose:true,//是否点击遮罩关闭
            time:600000,//自动关闭弹出框的时间
            id:"myLayer",//设置弹出框父级容器的id
            anim:6,//设置显示动画
            isOutAnim:true,//开启关闭弹出框时的动画
            maxmin:true,//显示最大小化按钮
            scrollbar:false,//允许浏览器出现滚动条
            maxWidth:500,//最大宽度，只有当area: 'auto'时，maxWidth的设定才有效
            maxHeight:500,// 最大高度 只有当高度自适应时，maxHeight的设定才有效
            //zIndex:10000,//层叠顺序 一般用于解决和其它组件的层叠冲突。
            move:'.layui-layer-title',//触发拖动的元素,默认标题栏，配置设定move: false来禁止拖拽
            moveOut:true,//是否允许拖拽到窗口外   默认只能在窗口内拖拽，如果你想让拖到窗外，那么设定moveOut: true即可
            moveEnd:function (layero) {//拖动完毕后的回调方法,其中layero为当前层的DOM对象
                console.log("拖动完毕后回调",layero);
                layer.msg("拖动完毕后回调"+layero);
            },
            resize:true,//允许拉伸
            resizing:function (layero) {//拉伸回调
                console.log("拉伸回调",layero);
                layer.msg("拉伸回调"+layero);
            },
            yes:function (index, layero) {
                console.log("yes确定按钮回调成功！",index,layero);
                layer.msg("yes确定按钮回调成功！"+index+'---'+layero);
            },
            btn2:function (index,layero) {
                console.log(index,layero);
                layer.msg("btn2回调成功！"+index+'---'+layero);
            },btn3:function (index, layero) {
                console.log(index,layero);
                layer.msg("btn3回调成功！"+index+'---'+layero);
            },
            success:function (layero, index) {//层弹出后的成功回调方法 success会携带两个参数，分别是当前层DOM当前层索引
                console.log("层弹出后的成功回调！",index,layero);
                layer.msg("层弹出后的成功回调！"+index+'---'+layero);
            },
            /**
             *             右上角关闭按钮触发的回调 回调携带两个参数，
             *             分别为：当前层索引参数（index）、当前层的DOM对象（layero），
             *             默认会自动触发关闭。如果不想关闭，return false
             */
            cancel:function (index, layero) {
                console.log("右上角关闭按钮触发的回调！",index,layero);
                layer.msg("右上角关闭按钮触发的回调！"+index+'---'+layero);
            },
            /**
             * 层销毁后触发的回调
             * 无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。
             */
            end:function () {
                console.log("层销毁后触发的回调");
                layer.msg("层销毁后触发的回调");
            },
            /**
             * 最大化触发的回调，携带一个参数，即当前层DOM
             */
            full:function () {
                console.log("最大化触发的回调");
                layer.msg("最大化触发的回调");
            },
            /**
             * 最小化触发的回调
             */
            min:function () {
                console.log("最小化触发的回调");
                layer.msg("最小化触发的回调");
            },
            /**
             * 还原触发的回调
             */
            restore:function () {
                console.log("还原触发的回调");
                layer.msg("还原触发的回调");
            }

        });
    });
    </code>
</pre>
<div class="box box-primary">
    <button class="btn btn-default test57">resize</button>
</div>


<h1>type类型</h1>
<pre class="javascript hljs ">
    0：信息框,默认
    1：页面层
    2：iframe层
    3：加载层
    4：tips层
</pre>
<div class="box box-primary">
    <button class="btn btn-default test1">type0</button><br/>
    <button class="btn btn-default test2">type1</button><br/>
    <button class="btn btn-default test3">type2</button><br/>
    <button class="btn btn-default test4">type3</button><br/>
    <button class="btn btn-default test5">type4</button><br/>
</div>
<h1>title</h1>
<pre class="javascript hljs ">
title支持3中类型的值
1：title:"标题"
2：title:["标题","font-size:24px;color:red;"]
3:title：false，表示不想显示标题
</pre>
<div class="box box-primary">
    <button class="btn btn-default test6">tile:"标题"</button><br/>
    <button class="btn btn-default test7">title:["标题","font-size:24px;color:red;"]</button><br/>
    <button class="btn btn-default test8">title:false</button><br/>

</div>
<h1>content内容</h1>
<pre class="javascript hljs ">
类型：String/DOM/Array，默认：''
可以放html字符，url地址，DOM对象等
</pre>
<h1>area宽高</h1>
<pre class="javascript hljs ">
类型：String/Array，默认：'auto'自适应
area:"auto"     自适应，一般会在屏幕中央，宽高最小尺寸显示
area:"500px"    设置宽度，高度自适应，高度以最小尺寸显示
area:["500px","500px"]  设置宽高
</pre>
<div class="box box-primary">
    <button class="btn btn-default test9">area:"auto"     自适应，一般会在屏幕中央，宽高最小尺寸显示</button><br/>
    <button class="btn btn-default test10">area:"500px"    设置宽度，高度自适应，高度以最小尺寸显示</button><br/>
    <button class="btn btn-default test11">area:["500px","500px"]  设置宽高</button><br/>

</div>
<h1>offset坐标</h1>
<pre class="javascript hljs ">
    类型：String/Array，默认：垂直水平居中

值 	                        备注
offset: 'auto' 	            默认坐标，即垂直水平居中
offset: '100px' 	    只定义top坐标，水平保持居中
offset: ['100px', '50px']   同时定义top、left坐标
offset: 't' 	            快捷设置顶部坐标
offset: 'r' 	            快捷设置右边缘坐标
offset: 'b' 	            快捷设置底部坐标
offset: 'l' 	            快捷设置左边缘坐标
offset: 'lt' 	            快捷设置左上角
offset: 'lb' 	            快捷设置左下角
offset: 'rt' 	            快捷设置右上角
offset: 'rb' 	            快捷设置右下角
</pre>
<div class="box box-primary">
    <button class="btn btn-default test12">offset: 't'  快捷设置顶部坐标</button><br/>
    <button class="btn btn-default test13">offset: 'r'  快捷设置右边缘坐标</button><br/>
    <button class="btn btn-default test14">offset: 'b' 	快捷设置底部坐标</button><br/>
    <button class="btn btn-default test15">offset: 'l' 	快捷设置左边缘坐标</button><br/>
    <button class="btn btn-default test16">offset: 'lt' 快捷设置左上角</button><br/>
    <button class="btn btn-default test17">offset: 'rt' 快捷设置右上角</button><br/>
    <button class="btn btn-default test18">offset: 'lb' 快捷设置左下角</button><br/>
    <button class="btn btn-default test19">offset: 'rb' 快捷设置右上角</button><br/>

</div>
<h1>icon - 图标   信息框和加载层的私有参数</h1>
<pre class="javascript hljs ">
    类型：Number，默认：-1（信息框）/0（加载层）
    信息框默认不显示图标。当你想显示图标时，默认皮肤可以传入0-6如果是加载层，可以传入0-2。

    信息框：layer.alert/layer.msg
        icon:0      信息
        icon:1      正确
        icon:2      错误
        icon:3      疑问
        icon:4      加锁
        icon:5      哭脸
        icon:6      笑脸
</pre>
<div class="box box-primary">
    <button class="btn btn-default test20">信息框 layer.alert("信息",{icon:0});</button>
    <button class="btn btn-default test21">信息框 layer.alert("正确",{icon:1});</button>
    <button class="btn btn-default test22">信息框 layer.alert("错误",{icon:2});</button>
    <button class="btn btn-default test23">信息框 layer.alert("疑问",{icon:3});</button>
    <button class="btn btn-default test24">信息框 layer.alert("加锁",{icon:4});</button>
    <button class="btn btn-default test25">信息框 layer.alert("哭脸",{icon:5});</button>
    <button class="btn btn-default test26">信息框 layer.alert("笑脸",{icon:6});</button>
</div>
<div class="box box-primary">
    <button class="btn btn-default test27">信息框 layer.msg("信息",{icon:0});</button>
    <button class="btn btn-default test28">信息框 layer.msg("正确",{icon:1});</button>
    <button class="btn btn-default test29">信息框 layer.msg("错误",{icon:2});</button>
    <button class="btn btn-default test30">信息框 layer.msg("疑问",{icon:3});</button>
    <button class="btn btn-default test31">信息框 layer.msg("加锁",{icon:4});</button>
    <button class="btn btn-default test32">信息框 layer.msg("哭脸",{icon:5});</button>
    <button class="btn btn-default test33">信息框 layer.msg("笑脸",{icon:6});</button>
</div>
<div class="box box-primary">
    <button class="btn btn-default test34">加载层-3个圆圈滚动加载 layer.load(0);</button>
    <button class="btn btn-default test35">加载层-粗的太阳滚动加载 layer.load(1);</button>
    <button class="btn btn-default test36">加载层-细的太阳滚动加载 layer.load(2);</button>

</div>
<h1>btn - 按钮</h1>
<pre class="javascript hljs ">
类型：String/Array，默认：'确认'

信息框模式时，btn默认是一个确认按钮，其它层类型则默认不显示，加载层和tips层则无效。
当您只想自定义一个按钮时，你可以btn: '我知道了'，当你要定义两个按钮时，
    你可以btn: ['yes', 'no']。
    当然，你也可以定义更多按钮，
    比如：btn: ['按钮1', '按钮2', '按钮3', …]，按钮1的回调是yes，
    而从按钮2开始，则回调为btn2: function(){}，以此类推。
</pre>
<div class="box box-primary">
    <button class="btn btn-default test37">btn:['按钮1','按钮2','按钮3']</button>

</div>
<h1>closeBtn - 关闭按钮</h1>
<pre class="javascript hljs ">
    layer提供了两种风格的关闭按钮，可通过配置1和2来展示，如果不显示，则closeBtn: 0
</pre>
<div class="box box-primary">
    <button class="btn btn-default test38">closeBtn:0   不显示</button>
    <button class="btn btn-default test39">closeBtn:1   默认x按钮</button>
    <button class="btn btn-default test40">closeBtn:2   圆圈x按钮</button>

</div>
<h1>shade - 遮罩</h1>
<pre class="javascript hljs ">
    类型：String/Array/Boolean，默认：0.3
</pre>
<div class="box box-primary">
    <button class="btn btn-default test41">shade: [0.8, '#393D49'] 改变遮罩层背景颜色与透明度</button>
</div>
<h1>shadeClose - 是否点击遮罩关闭</h1>
<pre class="javascript hljs ">
    类型：Boolean，默认：false
    如果你的shade是存在的，那么你可以设定shadeClose来控制点击弹层外区域关闭。
</pre>
<div class="box box-primary">
    <button class="btn btn-default test42">shadeClose:true,允许点击遮罩关闭信息框</button>
    <button class="btn btn-default test43">shadeClose:false,不允许点击遮罩关闭信息框</button>
</div>
<h1>time - 自动关闭所需毫秒</h1>
<pre class="javascript hljs ">
    类型：Number，默认：0
    默认不会自动关闭。当你想自动关闭时，可以time: 5000，即代表5秒后自动关闭，注意单位是毫秒（1秒=1000毫秒）
</pre>
<div class="box box-primary">
    <button class="btn btn-default test44">time:3000设置3秒之后自动关闭信息框</button>
</div>
<h1>id - 用于控制弹层唯一标识</h1>
<pre class="javascript hljs ">
    类型：String，默认：空字符
    设置该值后，不管是什么类型的层，都只允许同时弹出一个。一般用于页面层和iframe层模式
</pre>
<div class="box box-primary">
    <button class="btn btn-default test45">设置id后，弹框内容区域的父级容器的id就是我们指定的id</button>
</div>
<h1>anim - 弹出动画</h1>
<pre class="javascript hljs ">
类型：Number，默认：0
我们的出场动画全部采用CSS3。
这意味着除了ie6-9，其它所有浏览器都是支持的。
目前anim可支持的动画类型有0-6 如果不想显示动画，设置 anim: -1 即可。
另外需要注意的是，3.0之前的版本用的是 shift 参数
值 	        备注
anim: 0 	平滑放大。默认
anim: 1 	从上掉落
anim: 2 	从最底部往上滑入
anim: 3 	从左滑入
anim: 4 	从左翻滚
anim: 5 	渐显
anim: 6 	抖动
</pre>
<div class="box box-primary">
    <button class="btn btn-default test46">anim:-1  无动画</button>
    <button class="btn btn-default test47">anim:0  平滑放大。默认</button>
    <button class="btn btn-default test48">anim:1  从上掉落</button>
    <button class="btn btn-default test49">anim:2  从最底部往上滑入</button>
    <button class="btn btn-default test50">anim:3  从左滑入</button>
    <button class="btn btn-default test51">anim:4  从左翻滚</button>
    <button class="btn btn-default test52">anim:5  渐显</button>
    <button class="btn btn-default test53">anim:6  抖动</button>
</div>
<h1>maxmin - 最大最小化。</h1>
<pre class="javascript hljs ">
    类型：Boolean，默认：false
    该参数值对type:1和type:2有效。默认不显示最大小化按钮。需要显示配置maxmin: true即可
</pre>
<div class="box box-primary">
    <button class="btn btn-default test54">maxmin:true  开启最大化与最小化按钮，前提type值必须是1或者2，也就是必须是页面层与iframe层</button>
</div>

<h1>fixed - 固定</h1>
<pre class="javascript hljs ">
    类型：Boolean，默认：true
    即鼠标滚动时，层是否固定在可视区域。如果不想，设置fixed: false即可
</pre>
<div class="box box-primary">
    <button class="btn btn-default test55">fixed:true,</button>
    <button class="btn btn-default test56">fixed:false,</button>
</div>
<h1>layer.alert(content, options, yes) - 普通信息框</h1>
<pre class="javascript hljs ">
    它的参数是自动向左补齐的。通过第二个参数，可以设定各种你所需要的基础参数，但如果你不需要的话，直接写回调即可。如
</pre>
<div class="box box-primary">
    <button class="btn btn-default test58">layer.alert(content, options, yes),如果有回调函数，需要手动进行关闭</button>
</div>
<h1>layer.confirm(content, options, yes, cancel) - 询问框</h1>
<pre class="javascript hljs ">
    不是和系统的confirm一样阻塞你需要把交互的语句放在回调体中。同样的，它的参数也是自动补齐的。

    与layer.alert不同的是，layer.confirm有2个按钮，一个是确定，一个是取消，对应的按钮点击后，都有回调函数

    yes:确定键，默认不关闭弹窗，需要使用layer.close(index)手动关闭
    cancle:取消键，默认关闭弹窗，如果需要不关闭弹窗，可以使用return false;阻止关闭。
</pre>
<div class="box box-primary">
    <button class="btn btn-default test59">layer.confirm(content, options, yes,cancle),如果有回调函数，需要手动进行关闭</button>
</div>


<h1>layer.msg(content, options, end) - 提示框</h1>
<pre class="javascript hljs ">
    默认还会3秒后自动消失
</pre>
<div class="box box-primary">
    <button class="btn btn-default test60">layer.msg(content,options,end);提示框，消失后，调用end回调</button>
</div>

<h1>layer.load(icon, options) - 加载层</h1>
<pre class="javascript hljs ">
    load默认是不会自动关闭的，因为你一般会在ajax回调体中关闭它。

    layer.load(icon, options) - 加载层,如果不手动关闭加载层，需要使用参数time,代表最长多长时间消失
</pre>
<div class="box box-primary">
    <button class="btn btn-default test61">layer.load(icon, options) - 加载层,如果不手动关闭加载层，需要使用参数time,代表最长多长时间消失</button>
</div>


<h1>layer.tips(content, follow, options) - tips层</h1>
<pre class="javascript hljs ">
    会智能定位，即灵活地判断它应该出现在哪边。默认是在元素右边弹出

    tips层的私有参数。支持上右下左四个方向，通过1-4进行方向设定。
    如tips: 3则表示在元素的下面出现。
    有时你还可能会定义一些颜色，可以设定tips: [1, '#c00']
</pre>
<div class="box box-primary">
    <button class="btn btn-default test62">layer.tips("我在上面出现了哦",this,{tips:[1, '#c00']});</button>
    <button class="btn btn-default test63">layer.tips("我在右边出现了哦",this,{tips:[2, '#c00']});</button>
    <button class="btn btn-default test64">layer.tips("我在下面出现了哦",this,{tips:[3, '#c00']});</button>
    <button class="btn btn-default test65">layer.tips("我在左边出现了哦",this,{tips:[4, '#c00']});</button>
</div>

<h1>layer.close(index)  获取index的途径</h1>
<pre class="javascript hljs ">
//当你想关闭当前页的某个层时
var index = layer.open();
var index = layer.alert();
var index = layer.load();
var index = layer.tips();
//正如你看到的，每一种弹层调用方式，都会返回一个index
layer.close(index); //此时你只需要把获得的index，轻轻地赋予layer.close即可

//如果你想关闭最新弹出的层，直接获取layer.index即可
layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的

//当你在iframe页面关闭自身时
var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
parent.layer.close(index); //再执行关闭
</pre>
<div class="box box-primary">
    <button class="btn btn-default test62">layer.tips("我在上面出现了哦",this,{tips:[1, '#c00']});</button>
    <button class="btn btn-default test63">layer.tips("我在右边出现了哦",this,{tips:[2, '#c00']});</button>
    <button class="btn btn-default test64">layer.tips("我在下面出现了哦",this,{tips:[3, '#c00']});</button>
    <button class="btn btn-default test65">layer.tips("我在左边出现了哦",this,{tips:[4, '#c00']});</button>
</div>





            </div>
    </div>
    <!-- /.box -->
    </section>
    <footer class="content-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
</div>

<aside class="control-sidebar control-sidebar-dark"></aside>
<div class="control-sidebar-bg"></div>
<script type="text/javascript">
    layui.element.render({elem: "#card"});

    var layer = layui.layer;

    var nf = function () {};

    /**
     * type等于0
     */
    $(".test1").click(function () {
        layer.open({
            type:0,
            title:"type=0：信息框",
            content:"type=0：信息框"
        });
    });

    /**
     * type等于1
     */
    $(".test2").click(function () {
        layer.open({
            type:1,
            title:"type=1：页面层,加载的DOM你会看到，DOM元素完全被移到content区域了，并不是复制DOM,点击关闭，又将DOM还原到页面中",
            shadeClose: true,
            area: ["800px", "800px"],//设置弹出层
            content:$(".box-body")
        });
    });

    /**
     * type等于2
     */
    $(".test3").click(function () {
        layer.open({
            type:2,
            title:"type=2：iframe层",
            shadeClose: true,
            area: ["800px", "800px"],//设置弹出层
            content:'./layer_test_iframe.html'
        });
    });


    /**
     * type3
     */
    $(".test4").click(function () {
        var i = layer.load();
        setTimeout(function () {
            layer.close(i)
        },3000)
    });

    /**
     * type=4
     */
    $(".test5").click(function () {
        layer.tips("type=4，tips层",".test5");
    });

    /**
     * 默认标题
     */

    $(".test6").click(function () {
        layer.open({
            type:1,
            title:"插入标题成功",
            shadeClose: true,
            content:"测试标题属性"
        });
    });

    /**
     * 自定义标题样式
     */
    $(".test7").click(function () {
        layer.open({
            type:1,
            title:["插入标题成功","font-size:26px; color:red;"],
            shadeClose: true,
            content:"测试标题属性"
        });
    });

    /**
     * 不显示标题
     */
    $(".test8").click(function () {
        layer.open({
            type:1,
            title:false,
            shadeClose: true,
            content:"测试标题属性"
        });
    });

    /**
     * area ：auto
     */
    $(".test9").click(function () {
        layer.open({
            type:1,
            area:"auto",
            title:"area:auto",
            shadeClose: true,
            content:'<div style="width:100%; height:100px;">内容插入成功！</div>'
        });
    });

    $(".test10").hover(function () {
        layer.tips('layer.open({\n' +
            '            type:1,\n' +
            '            area:"500px",\n' +
            '            title:\'area:"500px"\',\n' +
            '            shadeClose:true,\n' +
            '            content:\'内容插入成功！\'\n' +
            '        });',this);
    },nf).click(function () {
        layer.open({
            type:1,
            area:"500px",
            title:'area:"500px"',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });


    $(".test11").hover(function () {
        layer.tips('layer.open({\n' +
            '            type:1,\n' +
            '            area:["500px","500px"],\n' +
            '            title:\'area:["500px","500px"]\',\n' +
            '            shadeClose:true,\n' +
            '            content:\'内容插入成功！\'\n' +
            '        });',this);
    },nf).click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            title:'area:["500px","500px"]',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    $(".test12").hover(function () {
        layer.tips('layer.open({\n' +
            '            type:1,\n' +
            '            area:["500px","500px"],\n' +
            '            offset:"t",\n' +
            '            title:\' offset:"t" 显示在顶部\',\n' +
            '            shadeClose:true,\n' +
            '            content:\'内容插入成功！\'\n' +
            '        });', this)
    },nf).click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            offset:"t",
            title:' offset:"t" 显示在顶部',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    $(".test13").click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            offset:"r",
            title:' offset:"t" 显示在右边缘',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    $(".test14").click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            offset:"b",
            title:' offset:"b" 显示在底部边缘',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    $(".test15").click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            offset:"l",
            title:' offset:"l" 显示在左边缘',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    $(".test16").click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            offset:"lt",
            title:' offset:"lt" 显示在左上角',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    $(".test17").click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            offset:"rt",
            title:' offset:"rt" 显示在右上角',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    $(".test18").click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            offset:"lb",
            title:' offset:"lb" 显示在左下角',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    $(".test19").click(function () {
        layer.open({
            type:1,
            area:["500px","500px"],
            offset:"rb",
            title:' offset:"rb" 显示在右下角',
            shadeClose:true,
            content:'内容插入成功！'
        });
    });

    /**
     * 信息框 layer.alert("信息",{icon:0});
     */
    $(".test20").click(function () {
        layer.alert("信息",{icon:0});
    });

    /**
     * 信息框 layer.alert("正确",{icon:1});
     */
    $(".test21").click(function () {
        layer.alert("正确",{icon:1});
    });
    /**
     * 信息框 layer.alert("错误",{icon:2});
     */
    $(".test22").click(function () {
        layer.alert("错误",{icon:2});
    });

    /**
     * 信息框 layer.alert("疑问",{icon:3});
     */
    $(".test23").click(function () {
        layer.alert("{疑问",{icon:3});
    });

    /**
     * 信息框 layer.alert("加锁",{icon:4});
     */
    $(".test24").click(function () {
        layer.alert("{加锁",{icon:4});
    });

    /**
     * 信息框 layer.alert("哭脸",{icon:5});
     */
    $(".test25").click(function () {
        layer.alert("哭脸",{icon:5});
    });

    /**
     * 信息框 layer.alert("笑脸",{icon:6});
     */
    $(".test26").click(function () {
        layer.alert("笑脸",{icon:6});
    });

    /**
     * 信息框 layer.alert("笑脸",{icon:0});
     */
    $(".test27").click(function () {
        layer.msg("信息",{icon:0});
    });


    /**
     * 信息框 layer.msg("正确",{icon:1});
     */
    $(".test28").click(function () {
        layer.msg("正确",{icon:1});
    });
    /**
     * 信息框 layer.msg("错误",{icon:2});
     */
    $(".test29").click(function () {
        layer.msg("错误",{icon:2});
    });

    /**
     * 信息框 layer.msg("疑问",{icon:3});
     */
    $(".test30").click(function () {
        layer.msg("{疑问",{icon:3});
    });

    /**
     * 信息框 layer.alert("加锁",{icon:4});
     */
    $(".test31").click(function () {
        layer.msg("{加锁",{icon:4});
    });

    /**
     * 信息框 layer.alert("哭脸",{icon:5});
     */
    $(".test32").click(function () {
        layer.msg("哭脸",{icon:5});
    });

    /**
     * 信息框 layer.alert("笑脸",{icon:6});
     */
    $(".test33").click(function () {
        layer.msg("笑脸",{icon:6});
    });

    /**
     * 加载层 layer.load(0);
     */
    $(".test34").click(function () {
        var l = layer.load(0);
        setTimeout(function () {
            layer.close(l)
        }, 3000);
    });

    /**
     * 加载层 layer.load(1);
     */
    $(".test35").click(function () {
        var l = layer.load(1);
        setTimeout(function () {
            layer.close(l)
        }, 3000);
    });

    /**
     * 加载层 layer.load(2);
     */
    $(".test36").click(function () {
        var l = layer.load(2);
        setTimeout(function () {
            layer.close(l)
        }, 3000);
    });

    /**
     * 按钮回调
     */
    $(".test37").click(function () {
       layer.open({
           title:'按钮回调',
           content:'加载成功了吗？',
           btn:['按钮1','按钮2','按钮3'],
           closeBtn :2,
           yes:function (index, layero) {
               console.log(index,layero);
               layer.msg("yes回调成功！"+index+'---'+layero);
           },
           btn2:function (index,layero) {
               console.log(index,layero);
               layer.msg("btn2回调成功！"+index+'---'+layero);
           },btn3:function (index, layero) {
               console.log(index,layero);
               layer.msg("btn3回调成功！"+index+'---'+layero);
           }

       });
    });


    /**
     * 无关闭按钮
     */
    $(".test38").click(function () {
        layer.open({
            closeBtn:0,
            title:' closeBtn:0 无关闭按钮！ ',
            content:'内容插入成功！'
        });
    });

    /**
     * 关闭按钮，closeBtn:1,样式 x
     */
    $(".test39").click(function () {
        layer.open({
            closeBtn:1,
            title:' closeBtn:1 ',
            content:'内容插入成功！'
        });
    });

    /**
     * 关闭按钮，closeBtn:2,样式 圆圈x
     */
    $(".test40").click(function () {
        layer.open({
            closeBtn:2,
            title:' closeBtn:2 ',
            content:'内容插入成功！'
        });
    });

    /**
     * 改变遮罩层背景颜色与透明度  shade: [0.8, '#393D49']
     */
    $(".test41").click(function () {
        layer.open({
            shade: [0.8, '#393D49'],
            title:'shade: [0.8, \'#393D49\']',
            content:'内容插入成功！'
        });
    });

    /**
     *  是否允许点击遮罩层，关闭信息框shadeClose:true
     */
    $(".test42").click(function () {
        layer.open({
            shadeClose:true,
            title:'是否允许点击遮罩层，关闭信息框shadeClose:true',
            content:'内容插入成功！'
        });
    });

    /**
     *  是否允许点击遮罩层，关闭信息框shadeClose:false
     */
    $(".test43").click(function () {
        layer.open({
            shadeClose:false,
            title:'是否允许点击遮罩层，关闭信息框shadeClose:false',
            content:'内容插入成功！'
        });
    });


    /**
     *  是否允许点击遮罩层，关闭信息框shadeClose:false
     */
    $(".test44").click(function () {
        layer.open({
            time:3000,
            title:'time:3000设置3秒之后自动关闭信息框',
            content:'内容插入成功！'
        });
    });


    /**
     *  设置id后，弹框内容区域的父级容器的id就是我们指定的id
     */
    $(".test45").click(function () {
        layer.open({
            id:'myLayer',
            title:'设置id后，弹框内容区域的父级容器的id就是我们指定的id',
            content:'内容插入成功！'
        });
    });

    /**
     *  anim:-1  无动画
     */
    $(".test46").click(function () {
        layer.open({
            anim:-1,
            title:'anim:-1  无动画',
            content:'内容插入成功！'
        });
    });

    /**
     *  anim:0  平滑放大。默认
     */
    $(".test47").click(function () {
        layer.open({
            anim:0,
            title:'anim:0  平滑放大。默认',
            content:'内容插入成功！'
        });
    });

    /**
     *  anim:1  从上掉落
     */
    $(".test48").click(function () {
        layer.open({
            anim:1,
            title:'anim:1  从上掉落',
            content:'内容插入成功！'
        });
    });

    /**
     *  anim:2  从最底部往上滑入
     */
    $(".test49").click(function () {
        layer.open({
            anim:2,
            title:'anim:2  从最底部往上滑入',
            content:'内容插入成功！'
        });
    });

    /**
     *  anim:3  从左滑入
     */
    $(".test50").click(function () {
        layer.open({
            anim:3,
            title:'anim:3  从左滑入',
            content:'内容插入成功！'
        });
    });

    /**
     *  anim:4  从左翻滚
     */
    $(".test51").click(function () {
        layer.open({
            anim:4,
            title:'anim:4  从左翻滚',
            content:'内容插入成功！'
        });
    });

    /**
     *  anim:5  从左翻滚
     */
    $(".test52").click(function () {
        layer.open({
            anim:5,
            title:'anim:5  渐显',
            content:'内容插入成功！'
        });
    });

    /**
     *  anim:6  从左翻滚
     */
    $(".test53").click(function () {
        layer.open({
            anim:6,
            title:'anim:6  抖动',
            content:'内容插入成功！'
        });
    });

    /**
     * maxmin:true  开启最大化与最小化按钮，前提type值必须是1或者2，也就是必须是页面层与iframe层
     */
    $(".test54").click(function () {
        layer.open({
            type:1,
            maxmin:true,
            title:'maxmin:true  开启最大化与最小化按钮，前提type值必须是1或者2，也就是必须是页面层与iframe层',
            content:'内容插入成功！'
        });
    });

    /**
     *
     */
    $(".test55").click(function () {
        layer.open({
            fixed :true,
            title:'fixed:true,',
            content:'内容插入成功！'
        });
    });

    /**
     *
     */
    $(".test56").click(function () {
        layer.open({
            fixed :false,
            title:'fixed:false,',
            content:'内容插入成功！'
        });
    });

    /**
     * layer.alert(content, options, yes),如果有回调函数，需要手动进行关闭
     */
    $(".test58").click(function () {
        layer.alert("酷毙了！",{icon:1,anim:6,btn:['你真的酷毙了！']},function (index) {
            alert("你点击了确定按钮哦！"+index);
            //手动进行关闭
            layer.close(index);
        });
    });

    /**
     * layer.confirm(content, options, yes,cancle),如果有回调函数，需要手动进行关闭
     * 与layer.alert不同的是，layer.confirm有2个按钮，一个是确定，一个是取消，对应的按钮点击后，都有回调函数
     *
     */
    $(".test59").click(function () {
        layer.confirm("你确定要关闭嘛？",{icon:1,anim:6,title:"询问标题",btn:['关闭嘛','不关闭']},function (index) {
            alert("你点击了确定按钮哦！"+index);
            //确定键点击后，默认不关闭弹窗，需要手动进行关闭
            layer.close(index);
        },function (index) {
            alert("你点击了取消按钮哦！"+index);
            //取消键点击后，默认关闭弹窗，无需手动关闭
            //如果取消键点击后，需要不关闭弹窗，就return false;
            return false;
        });
    });

    /**
     * layer.msg(content,options,end);提示框，消失后，调用end回调
     */
    $(".test60").click(function () {
       layer.msg('你点击按钮了，我就弹出来了哦！',{
           icon:6,
           time:2000,
           anim:6
       },function () {
           layer.msg("提示框消失了，我再提示下哦！");
       });
    });

    /**
     * layer.load(icon, options) - 加载层,如果不手动关闭加载层，需要使用参数time,代表最长多长时间消失
     */
    $(".test61").click(function () {
        layer.load(2,{time:5000});
    });

    /**
     * layer.tips(content, follow, options) - tips层, 1 控制在上面弹出提示消息，并且更改了背景颜色
     */
    $(".test62").click(function () {
        layer.tips("我在上面出现了哦",this,{tips:[1, '#c00']});
    });

    /**
     * layer.tips(content, follow, options) - tips层, 2 控制在上面弹出提示消息，并且更改了背景颜色
     */
    $(".test63").click(function () {
        layer.tips("我在右边出现了哦",this,{tips:[2, '#c00']});
    });

    /**
     * layer.tips(content, follow, options) - tips层, 3 控制在上面弹出提示消息，并且更改了背景颜色
     */
    $(".test64").click(function () {
        layer.tips("我在下面出现了哦",this,{tips:[3, '#c00']});
    });

    /**
     * layer.tips(content, follow, options) - tips层, 4 控制在上面弹出提示消息，并且更改了背景颜色
     */
    $(".test65").click(function () {
        layer.tips("我在左边出现了哦",this,{tips:[4, '#c00']});
    });

    /**
     * 页面一加载就打开弹窗，需要在layer.ready()回调函数内执行
     */
    layer.ready(function () {
        layer.msg("页面加载成功！");
    });

    /**
     *  完整案例
     */
    $(".test57").click(function () {
        layer.open({
            type:1,//  设置类型，1：html内容层
            title:'完整案例',//设置标题
            area:["500px","500px"],//设置宽高
            shadeClose: true,//开启关闭按钮
            closeBtn :1,//关闭按钮的风格样式
            content:'加载成功了吗？',//内容
            btn:['按钮1','按钮2','按钮3'],//设置按钮
            offset:"auto",//显示坐标
            shade: [0.8, '#393D49'],//修改遮罩层透明度与背景颜色
            shadeClose:true,//是否点击遮罩关闭
            time:600000,//自动关闭弹出框的时间
            id:"myLayer",//设置弹出框父级容器的id
            anim:6,//设置显示动画
            isOutAnim:true,//开启关闭弹出框时的动画
            maxmin:true,//显示最大小化按钮
            scrollbar:false,//允许浏览器出现滚动条
            maxWidth:500,//最大宽度，只有当area: 'auto'时，maxWidth的设定才有效
            maxHeight:500,// 最大高度 只有当高度自适应时，maxHeight的设定才有效
            //zIndex:10000,//层叠顺序 一般用于解决和其它组件的层叠冲突。
            move:'.layui-layer-title',//触发拖动的元素,默认标题栏，配置设定move: false来禁止拖拽
            moveOut:true,//是否允许拖拽到窗口外   默认只能在窗口内拖拽，如果你想让拖到窗外，那么设定moveOut: true即可
            moveEnd:function (layero) {//拖动完毕后的回调方法,其中layero为当前层的DOM对象
                console.log("拖动完毕后回调",layero);
                layer.msg("拖动完毕后回调"+layero);
            },
            resize:true,//允许拉伸
            resizing:function (layero) {//拉伸回调
                console.log("拉伸回调",layero);
                layer.msg("拉伸回调"+layero);
            },
            yes:function (index, layero) {
                console.log("yes确定按钮回调成功！",index,layero);
                layer.msg("yes确定按钮回调成功！"+index+'---'+layero);
            },
            btn2:function (index,layero) {
                console.log(index,layero);
                layer.msg("btn2回调成功！使用return false阻止默认关闭弹框"+index+'---'+layero);
                return false;
            },btn3:function (index, layero) {
                console.log(index,layero);
                layer.msg("btn3回调成功！使用return false阻止默认关闭弹框"+index+'---'+layero);
                return false;
            },
            success:function (layero, index) {//层弹出后的成功回调方法 success会携带两个参数，分别是当前层DOM当前层索引
                console.log("层弹出后的成功回调！",index,layero);
                layer.msg("层弹出后的成功回调！"+index+'---'+layero);
            },
            /**
             * 右上角关闭按钮触发的回调 回调携带两个参数，
             * 分别为：当前层索引参数（index）、当前层的DOM对象（layero），
             * 默认会自动触发关闭。如果不想关闭，return false
             */
            cancel:function (index, layero) {
                console.log("右上角关闭按钮触发的回调！",index,layero);
                layer.msg("右上角关闭按钮触发的回调！"+index+'---'+layero);
            },
            /**
             * 层销毁后触发的回调
             * 无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。
             */
            end:function () {
                console.log("层销毁后触发的回调");
                layer.msg("层销毁后触发的回调");
            },
            /**
             * 最大化触发的回调，携带一个参数，即当前层DOM
             */
            full:function () {
                console.log("最大化触发的回调");
                layer.msg("最大化触发的回调");
            },
            /**
             * 最小化触发的回调
             */
            min:function () {
                console.log("最小化触发的回调");
                layer.msg("最小化触发的回调");
            },
            /**
             * 还原触发的回调
             */
            restore:function () {
                console.log("还原触发的回调");
                layer.msg("还原触发的回调");
            }

        });
    });
</script>
</div>
</body>
</html>